<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="dk" [routerLink]="['/']"><h2><b><em><span style="--i:1">L</span>
    <span style="--i:2">T</span>
    <span style="--i:3">I</span>
    <span style="--i:4">M</span>
    <span style="--i:5">i</span>
    <span style="--i:6">n</span>
    <span style="--i:7">d</span>
    <span style="--i:8">t</span>
 <span style="--i:8">r</span>
 <span style="--i:8">e</span>
 <span style="--i:8">e</span></em></b></h2></a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link p-3" [routerLink]="['/signin']">Login</a>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link p-3" [routerLink]="['/signup']">Register</a>
      </li>
     
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link p-3" [routerLink]="['/profile']">Profile</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn() && isAdmin()">
        <a class="nav-link p-3" [routerLink]="['/manage-users']"
          >Manage Users</a
        >
      </li>
      <li class="nav-item" *ngIf="isLoggedIn() && isAdmin()">
        <a class="nav-link p-3" [routerLink]="['/manage-jobs']">Manage Jobs</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn() && isAdmin()">
        <a class="nav-link p-3" [routerLink]="['/add-job']">Add Job</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link p-3" (click)="handleSignOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
