.dk span {
  position: relative;
  display: inline-block;
  font-size: 35px;
  color:#e25822;
  text-transform: italics;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
